extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style 
      include ../static/style.css
      include ../static/aboutstyle.css

block content 
    div.container 
        h1 About Us 
        div.card-container
         h2 Hi, There!
         div.card-box 
          div.card-img
           img(src="/static/01.jpg")
          div.card-content 
           p I am not a lawyer, don't judge me by my uniform. Anyways We provide the best information there is from the most relevent sources.
           |
           p Step into the world of INDIEJournals, where knowledge comes alive in the most captivating and insightful ways. We don't just provide information; we craft immersive journeys through the realm of knowledge.
        div.card-container
         h2 What impact do we aim to make?
         div.card-box 
          div.card-img
           img(src="/static/01.jpg")
          div.card-content 
           p We are driven by a profound passion to deliver information that matters. Through meticulous curation and a focus on pertinent sources, we provide in-depth knowledge that empowers minds
           |
           p As a journal website, our impact is multi-faceted. We empower readers with informed perspectives, fostering critical thinking and deeper understanding. 
        div.card-container
         h2 How do we achieve this?
         div.card-box 
          div.card-img
           img(src="/static/01.jpg")
          div.card-content1 
           p Thorough Research
           |
           p Selective Curation
           |
           p Contextualization
           |
           p Data Interpretation
           |
           p In-depth Reporting
           |
           p Localized Content
           |
           p Fact-Checking
           |
           p Continuous Updates
           |
           p Diverse Perspectives
           