doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title G20 Summit India | INDIEJournals
    style 
        include ../static/newpage2.css
  body
    div.page
      h1 "Chandrayaan 3": Achieves Perfect Lunar Landing!
      img(src="/static/img/p5.jpg", alt="Chandryaan-3 Image")
      p In a remarkable achievement, India's space agency ISRO has announced the triumphant landing of Chandrayaan-3 on the lunar surface. The spacecraft's successful touchdown marks a significant leap in the nation's space exploration prowess. Chandrayaan-3, built on the foundation of its predecessors, has demonstrated the culmination of precision engineering and tireless efforts by ISRO's dedicated team.
      |
      p The lander and rover duo navigated the complexities of the moon's surface with precision, touching down in a region of immense scientific interest. The accomplishment is being hailed not only for its technological brilliance but also for India's continuous commitment to unraveling the mysteries of the cosmos.
      |
      p On 22 July 2019, ISRO launched Chandrayaan-2 on board a Launch Vehicle Mark-3 (LVM3) launch vehicle consisting of an orbiter, a lander and a rover. The lander was scheduled to touch down on the lunar surface on 6 September 2019 to deploy the Pragyan rover. The lander lost contact with mission control, deviated from its intended trajectory while attempting to land near the lunar south pole, and crashed.
      |
      p The lunar south pole region holds particular interest for scientific exploration. Studies show large amounts of ice there. Mountainous terrain and unpredictable lighting protect the ice from melting, but they also make landing scientific probes there a challenging undertaking. The ice could contain solid-state compounds that would normally melt under warmer conditions elsewhere on the Moon—compounds which could provide insight into lunar, Earth, and Solar System history. For future crewed missions and outposts, ice could also be a source of drinking water and of hydrogen for fuel and oxygen.
      |
      p The European Space Tracking network (ESTRACK), operated by the European Space Agency (ESA), and Deep Space Network operated by Jet Propulsion Laboratory (JPL) of NASA are supporting the mission. Under a new cross-support arrangement, ESA tracking support could be provided for upcoming ISRO missions such as those of India's first human spaceflight programme, Gaganyaan, and the Aditya-L1 solar research mission. In return, future ESA missions will receive similar support from ISRO's own tracking stations.
      |
      p.in ISRO's mission objectives for the Chandrayaan-3 mission are:
      |
      p 1.Engineering and implementing a lander to land safely and softly on the surface of the Moon.
      p 2.Observing and demonstrating the rover's driving capabilities on the Moon.
      |
      p 3.Conducting and observing experiments on the materials available on the lunar surface to better understand the composition of the Moon.