doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title G20 Summit India | INDIEJournals
    style 
        include ../static/newpage.css
  body
    div.page
      h1 "Vande Bharat": Leading Indian glory
      img(src="/static/img/p9.jpg", alt="Vande Bharat Image")
      p New Delhi, September 2, 2023 - It has been a journey of innovation, progress, and national pride since the launch of India's Vande Bharat Express on February 15, 2019. As we mark over four years since its inaugural run, this high-speed train continues to lead India towards glory, setting new standards for efficiency and connectivity in the country's railway network.
      |
      p As we reflect on the remarkable journey of Vande Bharat Express from 2019 to the present day, one thing is clear: India's vision for a modern, efficient, and sustainable railway system is well on track. The train has set a precedent for future high-speed rail projects, and the government's plans for expanding the network and introducing even faster trains signal a bright future for rail travel in India.
      |
      p A team of engineers from Integral Coach Factory (ICF), Chennai and the allied rail rolling stock industry came together to conceptualise, design, engineer and deliver Train 18/Vande Bharat Express in 2018. It was a near world-class train, made entirely in India in just 18 months at a fraction of what it would take, both in terms of time and cost, anywhere in the globe. It paved the way for a whole new ballgame in rail transportation, not a mere organic continuation of the Railways’ track record in making trains.
      |
      p For three years after that, the narrative turned into one of negativity, victimisation of the team and overall disappointment. Meanwhile, only two trains were pressed into service between mid-2019 and mid-2022. However, Prime Minister Narendra Modi’s definitive announcement on August 15, 2021, that 75 Vande Bharat trains would run across the country in 75 weeks marked a definitive break.
      |
      p The vibes reversed dramatically. Like the proverbial blue streak, there was a palpable push towards manufacturing these trains. As ICF again got into action, the Finance Minister sprang a surprise in the 2022 Budget that 400 Vande Bharat trains would be manufactured in three years.
      |
      p A lot has changed since then. Another 12 Vande Bharat trains were rolled into service on various routes. The ICF seems to have settled into making three trains per month and may expand it further.
      