doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title G20 Summit India | INDIEJournals
    style 
        include ../static/newpage.css
  body
    div.page
      h1 "India Hosts G20: Global Diplomacy in Spotlight"
      img(src="/static/img/p8.jpg", alt="G20-Image")
      p The G20, comprised of major economies from across the world, is meeting in the vibrant capital city of New Delhi to deliberate on topics ranging from economic growth and trade to climate change and global health. This prestigious summit is an opportunity for India to showcase its diplomatic prowess and commitment to fostering collaboration on a global scale.
      |
      p As the host nation, India is keenly focused on ensuring productive dialogues that lead to practical solutions and agreements. The G20 Summit serves as a testament to India's growing influence on the world stage, reaffirming its commitment to addressing challenges that transcend borders and impact every corner of the planet.
      |
      p As of 2023, there are 21 members in the group: Argentina, Australia, Brazil, Canada, China, France, Germany, India, Indonesia, Italy, Japan, Mexico, Russia, Saudi Arabia, South Africa, South Korea, Turkey, the United Kingdom, the United States, the European Union and the African Union. Guest invitees include, amongst others, Spain, the United Nations, the World Bank and ASEAN.[49][50]
      |
      p Representatives include, at the leaders' summits, the leaders of nineteen countries, the African Union and of the European Union, and, at the ministerial-level meetings, the finance ministers and central bank governors of nineteen countries, the African Union and of the European Union.
      |
      p In addition, each year, the G20's guests include Spain;[51] the Chair of ASEAN; a representative of the New Partnership for Africa's Development (NEPAD) and a country (sometimes more than one) invited by the presidency, usually from its own region.[6][52][53]
      |
      p The first of the tables below lists the member entities and their leaders, finance ministers and central bank governors. The second table lists relevant statistics such as population and GDP figures for each member, as well as detailing memberships of other international organizations, such as the G7, BRICS and MIKTA. Total GDP figures are given in millions of US dollars.
      |
      p At the 18th G20 meeting 2023 in India, the African Union has been included as a member of the G20. This announcement has been made by Indian PM Narendra Modi who is the current chairperson of the G20 Summit 2023.[16]
